<!doctype html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="selected projects website - design" />
  <meta name="keywords" content="designer" />
  

  <title>{{ title }}</title>

  <link href="/styles/cssreset.css" rel="stylesheet">
  <link href="/styles/styles.css" rel="stylesheet">
  <link href="/styles/sites.css" rel="stylesheet">
  <link href="/styles/responsive.css" rel="stylesheet">
  <script src="/scripts/script.js"></script>
  <link rel="shortcut icon" type="image/png" href="/content/icons/favicon.png"/>


</head>

{{ content | safe }}

</html>