<nav class='display'>
  <ul>
    <li>
      <a href="/info" class="{% if section == 'Info' %}active{% endif %}">Info</a>,
      Work: 
      <a href="/" class="{% if section == 'Featured' %}active{% endif %}">Featured</a>, 
      <a href="/sites" class="{% if section == 'Sites' %}active{% endif %}">Sites</a>
      </li>
    <li>
      <a class="poly {% if section == 'Info' %}active{% endif %}" href="/info">jj</a>
    </li>
  </ul>
</nav>