<div class="project">
    <div class="project-name" data-id="id-{{id}}">
      <h1>
        <span class="cut">{ number }{ project_title} </span>
        <span class="project-description italic"></a>{project_description}</span>
      </h1>
    </div>
  </div>