{# I don't think this is active #}

<div class="project">
  <div class="project-name" data-id="id-{{id}}">
    <h1>
      <span class="cut">{ number }{ project_title} BOOOOOO</span>
      <span class="project-description italic"></a>{project_description}</span>
    </h1>
  </div>
</div>