{% macro single(src, format) %}

{# <figure style='--ratio:{{ ratio }};' class='video media {{effects}}'> #}
{% set path="/content/video/" %}  
{% set autoplay = true  %}

<figure style='' class='video media {{format}}'>
    <video preload="none" {% if autoplay %} autoplay {% endif %} muted playsinline loop poster="{{path}}{{ src }}.png">
      {# <source src="{{ path }}video/{{ src }}.webm" type="video/webm"> #}
      <source src="{{ path }}{{ src }}.mp4" type="video/mp4">
    </video>
    {# {% if caption %}
      <figcaption><a href="{{ link }}" target='_blank'>{{ caption }}</a></figcaption>
    {% endif%} #}
  </figure>

{% endmacro %}


{% macro triptych(srcs) %}

{% set path="/content/video/" %}  
{% set autoplay = true  %}

  <div class="triptych">
    {% for src in srcs %}
      <figure class="video">
        <video preload="none" {% if autoplay %} autoplay {% endif %} muted playsinline loop poster="{{path}}{{ src }}.png">
          <source src="{{ path }}{{ src }}.mp4" type="video/mp4">
        </video>
      </figure>
    {% endfor %}
  </div>
{% endmacro %}

{% macro tripmix(srcs) %}

{% set autoplay = true  %}

  <div class="triptych">
    {% for img in srcs %}
      {% if img.type == "vid" %}
        {% set path="/content/video/" %}  
         <figure class="video">
          <video preload="none" {% if autoplay %} autoplay {% endif %} muted playsinline loop poster="{{path}}{{ src }}.png">
            <source src="{{ path }}{{ img.src }}.mp4" type="video/mp4">
          </video>
        </figure>
      {% else %}
        {% set relpath = "/content/img/" %}
        {% set ext = (img.ext if img.ext else ".jpg") %}    
        <picture>
          <img src="{{ relpath+img.src+ext }}" alt="{{img.alt}}" />
        </picture>
      {% endif %}
    {% endfor %}
  </div>
{% endmacro %}