---
layout: toc.njk
title: ~° joy jade 

---

<!-- Work Images-->
<section class="contents borders">
  <div class="projects-container" id="show-top">
      {% for work in projects %}
        <div class="project-photos" id="id-{{ loop.index }}">
          <div class="image">
              <img src="{{ work.cover }}" alt="{{ work.alt }}" width="100%" data-name="{{ work.label }}">
          </div>
        </div>
        <div class="project-name agipo display borders small-only" data-id="id-{{ loop.index }}">
          <h1>
            <span class="cut">{{ work.title }}</span>
            <span class="project-description italic">{{ work.description }}</span>
          </h1>
        </div>
      {% endfor %}
  </div>

</section>


