---
layout: toc.njk
title: '~*° joy jade'
section: Featured

---
{% import 'video.njk' as vid %}

{% set imgpath = "src/content/img/" %}

<!-- Main Page-->
<section class="contents projects">
  <div class="featured-container">
    Featured Projects
    {% for proj in projects %}
      {% if proj.featured %}
        <h1>{{ proj.title }}</h1>
      {% endif %}
    {% endfor %}
  </div>

</section>


