---
layout: toc.njk
title: '~*° joy jade'
section: Sites 
---
{% import 'video.njk' as vid %}

{% set relpath = "src/content/img/" %}


<section class="contents sites">
  <ul>
    {% for site in sites %}
    <li>
      <div>
        {{ site.title }}
      </div>
      <div>
        {% if site.link %}
          <a href="https://{{site.link}}/">{{site.link}}</a>
        {% else %}
          <p>coming soon<span class="ellipses-loader">...<span></p>
        {% endif %}
      </div>
      <div>
        {% if site.cover %}
          <figure>
            <div class="image">      
              {# {% set img = site.cover %} #}
              {% if site.cover.type == "vid" %}
                {{ vid.single(site.cover.src, site.cover.format)}}
              {% else %}
                {% set ext = (site.cover.ext if site.cover.ext else ".jpg") %}    
                {% image relpath+site.cover.src+ext, site.cover.alt, [400, "auto"], "(max-width: 800px) 100vw, 800px", "lazy", "lozad" %}
              {% endif %}
              </div>
          </figure>
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
</section>