/* TYPEFACES-------------------------------------- */

@font-face {
    font-family: GT Cinetype;
    font-weight:400;
    src: url(fonts/gt-cinetype-trial-regular.otf)
}

/* GLOBAL -------------------------------------- */
* {
	padding: 0;
	margin: 0;
}

html, body 	{
	margin: 0;
	height: 100%;
	}

.hide {
	display: none;
}


/* GRID-------------------------------------- */

body {
  display: grid;
  grid-template-columns: minmax(300px,1fr) minmax(660px,2fr);
  grid-template-rows:55px minmax(500px,1fr);
  height: 98vh;
  padding:1%;
  grid-column-gap: 10px;
}

nav {
  grid-column: 1/3;
}

.off-canvas {
  position: relative;
  grid-column: 1/2;
  grid-row: 2/3;
}

.info {
  position: absolute;
  background-color: white;
  padding: 1rem;
  z-index: 20;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.contents{
  grid-column: 2 / 3;
  overflow-y: scroll;
}

/* STYLES-------------------------------------- */

.cinetype {
  font-family: gt cinetype, sans-serif;
  letter-spacing: 0.02em;
}

.display {
  font-weight:400;
  font-size: 1.2rem;
  line-height: 1.2em;
  text-decoration: none;
}

.text {
  font-weight: 100;
  font-size: 1.5rem;
  line-height: 1.5em;
  padding-right: 5rem;
}

.small-text {
  font-size: 0.85rem;
  letter-spacing:
}

.borders {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

*::selection {
  background: #2CFC0E;
  color: white;
}

/* NAV ------------*/

nav ul {
  display: flex;
  padding-left: 0.5em;
  flex-direction: row;
  justify-content: flex-end;
}

nav li {
   padding: 10px;
}

nav a {
  color: black;
}

/*TABLE OF CONTENTS ----------*/

.table-of {
  grid-column: 1/2;
  grid-row: 2/3;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.project {
  padding: 2px 0;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-content: center;
}
.project:not(:last-of-type) {
  border-bottom: 2px solid black;
}

.project-name {
  flex-grow: 1;
  padding: 8px;
}
.project-name:hover, .active {
  background-color: black;
  color: white;
}

.project-name h1 {
  padding-top: 4px;
}

.table-of::-webkit-scrollbar,
.contents::-webkit-scrollbar {
 display: none;
}

.projects-container {
  flex: auto;
}

.project-photos {
  white-space: nowrap;
  width: 925px;
  padding-bottom: 1rem;
  padding-top: 0.25rem;
}

.image {
  display: inline;
}

/* Info -------- */

p {
  margin-bottom: 1rem;
  display: block;
}

p:nth-of-type(2) {
  flex-grow: 1;
}

.byline {
  justify-content: flex-end;
}

.button {
  display: block;
  position: absolute;
  top: 0.6rem;
  right: 0.5rem;
}

.close {
  font-size: 2rem;
}
