/* TYPEFACES-------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Proza+Libre|Rubik');

/* GLOBAL -------------------------------------- */
* {
	padding: 0;
	margin: 0;
}

html, body 	{
	margin: 0;
	height: 100%;
  background-color: #efefef;
}

.hide {
	display: none;
}


/* GRID-------------------------------------- */

body {
  display: grid;
  grid-template-columns: minmax(300px,1fr) minmax(660px,2fr);
  grid-template-rows:55px minmax(500px,1fr);
  height: 98vh;
  padding:1%;
  grid-column-gap: 10px;
}

nav {
  grid-column: 1/3;
}

.off-canvas {
  position: relative;
  grid-column: 1/2;
  grid-row: 2/3;
}

.info {
  position: absolute;
  background-color: #efefef;
  padding: 1rem;
  z-index: 20;
  height: 100%;
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: opacity: 1s ease-in-out;
}

.contents {
  grid-column: 2 / 3;
  overflow-y: scroll;
}


/* STYLES-------------------------------------- */

.proza {
  font-family: 'proza libre', serif;
}

.italic {
  font-size: 1rem;
  font-style: italic;
  font-weight: 100;
}

.mono {
  font-family: 'rubik', monospace;
}

.display {
  font-weight:500;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1.2em;
  text-decoration: none;
}

.text {
  font-weight: 100;
  font-size: 1.5rem;
  line-height: 1.5em;
  padding-right: 5rem;
}

.small-text {
  font-size: 0.85rem;
  letter-spacing:
}

.borders {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

*::selection {
  background: #db471d;
  color: white;
}

.arrow {cursor: e-resize;}


/* NAV ------------*/

nav ul {
  display: flex;
  padding-left: 0.5em;
  flex-direction: row;
  justify-content: flex-end;
}

nav li {
   padding: 10px;
}

nav a {
  color: black;
}

/*TABLE OF CONTENTS ----------*/

.table-of {
  grid-column: 1/2;
  grid-row: 2/3;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  align-content: left;
  cursor: pointer;
}
.project {
  padding: 4px 0;
  display: flex;
  flex-grow: 1;
  align-content: center;

}
.project:not(:last-of-type) {
  border-bottom: 1px solid black;
}

.project-description {
  display: none;
  padding-left: 0.5rem;
  text-align: right;
}

.project-name {
  flex-grow: 1;
  padding: 8px;
  height: inherit;
}
.project-name:hover, .active {
  background-color: black;
  color: white;
}

.active {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.project-name h1 {
  padding-top: 4px;
}

.table-of::-webkit-scrollbar,
.contents::-webkit-scrollbar {
 display: none;
}

.projects-container {
  flex-flow: column;
}

.project-photos {
  width: 925px;
  padding-bottom: 1rem;
  padding-top: 0.25rem;
  height: 90vh;
  position: relative;
}


@media (max-width:40em) {
  .project-photos {
    width: 100%;
    height: 283px;
  }
}

/* image-slider */

.image {
  position: absolute;
  max-height: inherit;
  opacity: 0;
  z-index: 0;
  transition: opacity .5s ease-in-out;
}

.show {
  opacity: 1;
  z-index: 10;
}



/* Info -------- */

p {
  margin-bottom: 1rem;
  display: block;
}

p:nth-of-type(2) {
  flex-grow: 1;
}

.byline {
  justify-content: flex-end;
}

.button {
  display: block;
  position: absolute;
  top: 0.6rem;
  right: 0.5rem;
}

.close {
  font-size: 2rem;
}

/* Mobile */

@media (max-width:40em) {
  body {
    grid-template-columns: 1fr;
  }

  nav {
    grid-column: 1/3;
  }
  .contents {
    grid-column: 1 / 3;
    overflow-y: scroll;
  }

  .table-of {
    display: none;
  }
}
