/* TYPEFACES-------------------------------------- */
@font-face {
	font-family: 'agipo';
	src: url('/styles/fonts/agipo_regular.otf'),
			 url('/styles/fonts/agipo.woff') format('woff'),
			 url('/styles/fonts/agipo.woff') format('woff2');

}

@font-face {
	font-family: 'agipo-mono';
	src: url('/styles/fonts/agipo_mono.otf');
}

@font-face {
	font-family: 'miller';
	src: url('/styles/fonts/miller-italic.otf');
}


/* GLOBAL -------------------------------------- */
* {
	padding: 0;
	margin: 0;
}

html, body 	{
	margin: 0;
	height: 100%;
  background-color: #ffffff;
}

/* GRID-------------------------------------- */

body {
  display: grid;
  grid-template-columns: minmax(300px,2fr) minmax(660px,5fr);
  grid-template-rows:60px minmax(500px,1fr);;
  height: 99vh;
  padding: 0 0.5rem;
  grid-column-gap: 10px;
}

nav {
  grid-column: 1/3;
  padding: 0.25em 0.1rem;
}

.off-canvas {
  position: relative;
  grid-column: 1/2;
  grid-row: 2/3;
	z-index: 10;
	transform: translateX(calc(-110%));
	transition: transform 1.5s ease;
}

.info {
  position: absolute;
  background-color: #ffffff;
  padding: 0.35rem 0.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.contents {
  grid-column: 2 / 3;
  overflow-y: scroll;
}


/* STYLES-------------------------------------- */

.agipo {
  font-family: 'Agipo', sans-serif;
	color: #80D281;
	font-size: 1.5rem;
}

.italic {
/*  font-family: 'Miller', serif;*/
	font-style: italic;
  font-weight: 400;
}

.miller {
	font-family: 'Miller', serif;
	color: #80D281;
	font-size: 1.5rem;
}

.display {
  text-decoration: none;
  letter-spacing: 0.3px;
}

.mono {
  font-family: 'agipo-mono', monospace;
	font-style: normal;
	color: #80D281;
}

.text {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5em;
	padding-right: 2.5rem;
}

.small-text {
  font-size: 0.9rem;
}

.borders {
  border-top: 2px solid #80D281;
  /* border-bottom: 1px solid black; */
}

*::selection {
  background: #0022DE;
  color: white;
}

a {
	color: #80D281;
	text-decoration: underline;
}

a:hover {
	color: #0022DE;
}

/* .arrow {cursor: e-resize;} */


/* NAV ------------*/

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav li {
   padding: 0.75rem;
}

nav a {
	color: #80D281;
	font-size: 1.9rem;	
	position: relative;
	text-decoration: none;
}

nav a:hover {
	color: #80D281;
}

nav a:hover::after {
  border-bottom: 0.12rem solid #80D281;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 61%;

}

.open {
	transform: 0;
	transition: transform 1.5s ease;
	cursor: pointer;
}

.open img {
	padding: 0 10px;
	transform: 0;
	transition: transform 1.5s ease;
}

.rotate {
	transform: rotate(180deg);
	transition: transform 1.5s ease;
}

.move-right {
	transform: translateX(289px);
	transition: transform 1.5s ease;
}


/*TABLE OF CONTENTS ----------*/

.table-of {
  grid-column: 1/2;
  grid-row: 2/3;
	padding: 1rem 0.5rem 0.75rem;
	z-index: 1;
  /* display: grid;
  grid-template-rows: repeat(12, 1fr); */
  align-content: left;
}
.project {
  padding: 2px 0;
  display: flex;
  flex: 1;
  align-items: center;
	cursor: pointer;
}

.project-description {
  display: none;
  text-transform: capitalize;
  margin-top: 0.4em;
	padding-left: 0.15rem;
	font-size: 1.45rem;
}
 
.arrow-case {
	padding-bottom: 3px;
	display: inline;
}
.project-name {
  height: inherit;
}

.project-name:hover .cut, .active .cut {
  text-decoration: line-through;
}

.active {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.project-name h1 {
	line-height: 1.3;
}

.table-of::-webkit-scrollbar,
.contents::-webkit-scrollbar {
 display: none;
}

.projects-container {
  flex-flow: column;
}

.project-photos {
  position: relative;
  /*height: 95vh;	*/
  height: auto;
  cursor: url('/content/icons/arrow.svg'), auto;	
}
.project-photos:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

/* image-slider */

.image {
	width: 100%;
/*	display: none;*/	
	top:0.5rem;
}

.notice {
	position: absolute;
	bottom: 25px;
	right: 25px;
	color: #80D281;
	background-color: transparent;
	z-index: 10;
	font-size: 0.85rem;
	padding: 5px 10px;
	border-radius: 50px;
	border: 2px solid #80D281;
}

/* Info -------- */

p {
  margin-bottom: 1rem;
  display: block;
	padding-top: 10px;
	line-height: 1.25;
}

p:nth-of-type(3) {
  flex-grow: 1;
}

p.tight {
	margin-bottom: -4px;
}

.byline {
  justify-content: flex-end;
  padding-top: 1.5rem;
  line-height: 1.35;
}

.button {
  display: block;
  position: absolute;
  top: 0.6rem;
  right: 0.5rem;
}

.slide {
  transform: translateX(0);
	transition: transform 1.5s ease;
}


/* For JS */

.hide {
	display: none;
}

.show {
	display: block;
}


/* Mobile */

@media screen and (max-width:57.4375em) {
  body {
    grid-template-columns: 1fr;
  }

  nav {
    grid-column: 1;
  }
  .contents {
    grid-column: 1;
    overflow-y: scroll;
  }

  .table-of, .hide-for-small {
    display: none;
  }

	.project-name {
		padding: 0.5rem;
	}

	.borders.project-name {
		border-bottom: 2px solid #80D281;
	}

	.project-photos {
		width: 100%;
	}

	.project-photos:not(:last-of-type) {
	    margin: 0.5rem 0 0.3rem;
	}

	.project-description {
    line-height: 1.9rem;
		margin-top: 0;
	}

	.slide {
		height: calc(100vh - 68px);
		overflow-y: auto;
	}

	/* info */
	.move-right {
		transform: none;
	}

	.text {
		padding-right: 0;
	}


}

@media screen and (min-width:57.4375em) {
	.small-only {
		display: none;
	}
}


/* "15 Large */

@media screen and (min-width:96em) {
	body {
		grid-template-columns: minmax(300px,1fr) minmax(660px,3fr);
	}
	.project-name h1 {
		font-size: 1.2em;
		line-height: 1.5;
	}

	.project-name {
		/* padding: 0.7rem; */
	}

	.body {
		grid-template-columns: minmax(300px, 1.43fr) minmax (660, 3.25fr)
	}

}
