{# I don't think this is active #}
---
layout: toc.njk
title: jj
---

<!-- work in rows-->
<section class="contents borders">
  <div class="projects-container" id="show-top">
      {% for work in projects %}
        <div class="project-photos" id="id-{{ loop.index }}">
          <div class="image spreadsheet" data-name="{{ work.label }}">
            {% for img in work.image_files %}
              {% set extension = img.ext if img.ext else ".jpg"  %}
              <img src="{{"/content/"+img.src+extension}}" alt="{{ img.alt }}" width="100%">
            {% endfor %}
          </div>
        </div>
        <div class="project-name agipo display borders small-only" data-id="id-{{ loop.index }}">
          <h1>
            <a href="projects/{{ work.title | slugify }}/">
            <span class="cut">{{ work.title }} AM I ACTIVE?</span>
            <span class="project-description italic">{{ work.description }}</span>
            </a>
          </h1>
        </div>
      {% endfor %}
  </div>
